@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

} 

.hero{
    /* box-sizing: border-box; */
    /* border: .15px solid rgb(228, 36, 102); */
    background-color: rgba(156, 129, 132,.9);
    /* color: #e42466; */
    color: black;
    width: 65%;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide',sans-serif;
    /* font-size: .9rem; */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}


.hero-header{
    font-size: clamp(1rem, 0.857rem + 1.099vw, 2rem);
    color: white;
}
.hero-header-2{
    font-size: clamp(1rem, 0.893rem + 0.824vw, 1.75rem);
    color: white;
}
.hero-header-3{
    font-size: clamp(1rem, 0.929rem + 0.549vw, 1.5rem);
    color: white;
}
.hero-desc{
   font-size: clamp(0.7rem, 0.657rem + 0.33vw, 1rem);
   line-height: 1.75;
}

.sports-links{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.sports-links li{
    list-style: none;
    text-decoration: none;
}
.btn{
    color:#492f38 ;
}
.features-list{
    font-size: clamp(0.7rem, 0.657rem + 0.33vw, 1rem);
    line-height: 1.75;
}
@media(max-width:1010px){
    .sports-links{
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }
}
@media(max-width:900px){
    .features-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
}




.ball-1{
    position:relative;
left:-75px;
top:50px;
width:100px;
height:100px;
background:#f57c33;
border-radius:50px;
overflow:hidden;

       border: 2px solid black;
animation-name:bounce;
animation-duration:1.75s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
}
.stroke{
position:absolute;

width:150px;
height:150px;
border-radius:80px;
border: 2px solid black;

}
.stroke2{
    position:absolute;
   border: 2px solid black;
width:300px;
height:300px;
border-radius:150px;

}

.pos1{
 right:60px;
bottom:-25px;

}
.pos2{
 left:60px;
bottom:-25px;

}
.pos3{
top:-100px;
left:48px

}
.pos4{
top:48px;
left:-100px;
}
@keyframes bounce {
0%   {}
10% {transform:scaleX(1);transform:scaleY(1);}
50% {top:300px; transform:scaleX(1.7);transform:scaleY(0.5); }
 100% {top:50px;}
}
.ball-2{
    position:relative;
left:75px;
top:50px;
width:100px;
height:100px;
background:#f57c33;
border-radius:50px;
overflow:hidden;

       border: 2px solid black;
animation-name:bounce;
animation-duration:1.5s;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
}
.stroke{
position:absolute;

width:150px;
height:150px;
border-radius:80px;
border: 2px solid black;

}
.stroke2{
    position:absolute;
   border: 2px solid black;
width:300px;
height:300px;
border-radius:150px;

}

.pos1{
 right:60px;
bottom:-25px;

}
.pos2{
 left:60px;
bottom:-25px;

}
.pos3{
top:-100px;
left:48px

}
.pos4{
top:48px;
left:-100px;
}
@keyframes bounce {
0%   {}
10% {transform:scaleX(1);transform:scaleY(1);}
50% {top:300px; transform:scaleX(1.7);transform:scaleY(0.5); }
 100% {top:50px;}
}

@media(max-width:1000px){
    .ball-1{
        display: none;
    }
    .ball-2{
        display: none;
    }
}