.news-grid{
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    height: 100%;
    width: 97%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.news-item{
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0.5);
    border-radius: 5px;
}
.news-item-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}
.news-item-1{
    display: flex;
    grid-column: span 2;
}
.news-item-1 .header-container{
    width: 30%;
}
.news-item-1 .img-container{
    height: 100%;
}
.news-item-1 .news-item-img{
    height: 100%;
    object-fit: contain;
}
.news-item-2{
    /* grid-row: span 2; */
}

.news-item-2 .img-container{
    height: 85%;
}
.news-item-2 .news-item-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
    
}
.news-item-3{

}
.news-item-3 .img-container{
    height: 70%;
}
.news-item-3 .news-item-img{
    height: 100%;
    object-fit: contain;
}
.news-item-4{
    grid-column: span 2;
}

.news-item-4 .img-container{
    height: 70%;
}
.news-item-4 .news-item-img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.article-link{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}